@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,700&family=Roboto+Condensed:wght@700&display=swap');

:root {
    --bs-fred: #8a222c;
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-light-gray: #a7a8a9;
    --bs-gray-dark: #32383e;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    --border-header: .3rem solid var(--bs-gray-dark);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: 'Open Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    display: flex;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--bs-gray-dark);
    justify-content: space-between;
}

.logo img {
    height: 60px;
    width: 270px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.icons {
    color: var(--bs-light);
    font-size: 4rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    display: none;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10rem;
}


header img {
    height: 45px;
    width: 230px;
    padding-right: 1rem;
}

.titulo {
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 5.5rem;
    height: 5.5rem;
    display: flex;
    border-radius: 100%;
    margin-top: 1rem;
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
}

.sub-menu li a {
    font-size: 1.1rem;
}

.nav-list li {
    line-height: 5rem;
    position: relative;
}

.nav-list li a:not(:last-child):hover {
    padding-bottom: .6rem;
}

.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: var(--bs-light);
    padding: 0 1.2rem;
    font-size: 1.3rem;
    transition: color 650ms;
}

.nav-list li i a {
    display: block;
    color: var(--bs-red);
    padding: 0 1.8rem;
    font-size: 1.5rem;
    transition: color 650ms;
    text-decoration: none;
}

.nav-list a:hover {
    color: var(--bs-red);
}

.btn {
    padding: 1.5rem;
    display: inline-block;
    background-color: var(--bs-gray);
    border: 2px solid var(bs-gray);
    border-radius: 5rem;
    transition: background-color 650ms;
}

.btn:hover {
    color: var(--bs-light);
    background-color: rgba(0, 0, 0, 0.60);
}

.sub-menu {
    width: 28.8rem;
    display: block;
    position: absolute;
    border-top: 3px solid var(--bs-fred);
    box-shadow: var(--box-shadow);
    background-color: var(--bs-dark);
    z-index: 100;
    top: 10rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
    border-bottom-color: var(--bs-fred);
}

.sub-menu .sub-menu::before {
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
    border-right-color: var(--bs-fred);
}

.sub-menu .sub-menu {
    margin-left: .1rem;
    border-top: none;
    border-left: 3px solid var(--bs-fred);
    top: 0;
    left: 100%;
}

.nav-list li:hover>.sub-menu {
    top: 8rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover>.sub-menu {
    left: 100%;
    top: 0;
}

li.move-right {
    margin: auto 0 auto auto;
    line-height: initial;
    margin-right: 2rem;
}


.contenedor {
    background-image: linear-gradient(to bottom, rgba(252, 251, 251, 0.156), rgb(255, 0, 0)), url('../imagenes/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 83.2vh;
    font-family: 'Roboto Condensed', sans-serif;
}

.contenedor:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
}

.titulo-contenedor {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px;
    box-sizing: border-box;
}

.titulo {
    margin: 60px 0 0;
    color: var(--bs-light);
    font-size: 3.5rem;
    text-align: left;
    text-transform: uppercase;
}

.ver-mas {
    padding: 7px 20px;
    background-color: var(--bs-red);
    border: none;
    border-radius: .2rem;
    box-shadow: var(--box-shadow);
    border: 1.5px solid var(--bs-fred);
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 30px;
    align-self: flex-start;
    text-transform: uppercase;
    font-family: 'Roboto';
}

.ver-mas a {
    color: var(--bs-light);
}

.ver-mas:hover {
    background-color: var(--bs-fred);
}

.container-m {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 10px;
    margin: 5rem auto;
    max-width: 120vh;
    justify-content: center;
    border-top: .3rem solid var(--bs-fred);
    border-bottom: .3rem solid var(--bs-fred);
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto';
}

.titulo-m {
    color: var(--bs-dark);
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.imagen-izquierda {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.texto-derecha {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.6rem;
    color: var(--bs-light-gray);
    text-align: justify;
    line-height: 1.7;
}

.texto-izquierda {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    font-size: 1.6rem;
    color: var(--bs-light-gray);
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 1.7;
}

.imagen-derecha {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.grey-section {
    background-color: #f3f3f3;
    margin: 5rem;
    padding: 50px 0;
    position: relative;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .7);
}

.container-v1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    max-width: 700px;
    margin-top: 7rem;
}

.container-v1 p {
    font-size: 1.7rem;
    color: var(--bs-gray);
    font-family: 'Roboto';
    font-weight: 400;
    text-align: justify;
}

.container-v2 {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 6rem;
    font-family: 'DM Sans', sans-serif;
}

.small-section {
    background-color: var(--bs-fred);
    box-shadow: 0 .5rem 1rem rgba(118, 0, 0, 0.875);
    width: 1000px;
    height: 180px;
    margin: 5px auto 0;
    text-align: center;
    position: relative;
    top: 80px;
    z-index: 1;
}

.small-section h3 {
    font-size: 3.5rem;
    font-family: 'DM Sans', sans-serif;
    color: var(--bs-light);
}

.image-container {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(50%);
}

.image-container img {
    max-width: 100%;
    float: right;
    margin: 20px 0 0 110px;
    width: 300px;
    margin-bottom: 6.5rem;
}

.center {
    text-align: center;
    padding-bottom: 55px;
    margin: 3rem;
}

.scaleIn {
    -webkit-animation-name: scaleIn;
    animation-name: scaleIn;
}

.lead {
    font-size: 18px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 24px;
    font-weight: 400;
    text-align: justify;
}














.custom-shape-divider-bottom-1681240468 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1681240468 svg {
    position: relative;
    display: block;
    width: calc(150% + 2px);
    height: 125px;
}

.custom-shape-divider-bottom-1681240468 .shape-fill {
    fill: #ffffff;
}

footer {
    background-color: var(--bs-dark);
    box-shadow: var(--box-shadow);
    font-family: 'Open Sans', Arial, sans-serif;
    margin-top: 5rem;
}

footer .box-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
    padding: 2rem;
}

.logo-cecati {
    width: 4rem;
    height: 4rem;
    display: flex;
}

.logo-cecati img {
    height: 95px;
    width: 90px;
    padding: .7rem;
}

footer .box-container1 .box1 h3 {
    font-size: 2.7rem;
    color: var(--bs-light);
    text-transform: capitalize;
    margin-bottom: 2rem;
    margin-left: 6rem;
}

footer .box-container1 .box1 a {
    display: block;
    padding: 1rem 0;
    color: var(--bs-light-gray);
    font-size: 1.4rem;
    line-height: 3rem;
    margin-left: 6rem;
}

footer .box-container1 .box1 a i {
    padding-right: .7rem;
    transition: .2s linear;
    color: var(--bs-red);
}

footer .box-container1 .box1 a:hover i {
    padding-right: 1.4rem;
}

footer .credit {
    padding: 2rem;
    text-align: center;
    background-color: var(--bs-fred);
    color: var(--bs-light);
    font-size: 1.3rem;
    padding-bottom: 2.63rem;
}

footer .credit span {
    color: var(--bs-gray);
}

.dropdown {
    position: relative;
    transition: 1s linear;
}

.dropdown>a {
    color: var(--bs-dark);
    text-decoration: none;
}

.dropdown .menu {
    display: none;
    background-color: var(--bs-dark);
    overflow: hidden;
    position: relative;
    width: 310px;
    margin-left: 1.5rem;
}

.dropdown .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

.dropdown .menu ul a {
    color: var(--bs-light);
    display: block;
    padding: .5rem;
    font-size: 1.080rem;
    text-decoration: none;

}

.dropdown .menu li a:hover {
    color: var(--bs-light);
    background-color: var(--bs-gray-dark);
    transition: .2s linear;
}

.dropdown:hover .menu {
    display: block;
}

.noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 1rem auto;
    max-width: 1100px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.titulo-noticias {
    font-family: 'Roboto Condensed';
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}

.noticia {
    flex-basis: calc(33.33% - 40px);
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.noticia:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.imagen {
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.contenido {
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido h2 {
    font-size: 2rem;
    margin: 0;
    color: var(--bs-fred);
    background-color: #f0f0f0;
    text-align: left;
}

.contenido p {
    margin-top: 10px;
    font-size: 1.2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    text-align: justify;
    color: var(--bs-gray);
    font-family: 'Roboto';
}

.contenido .fecha{
    color: var(--bs-dark);
}

.vermas {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    align-self: flex-end;
}

.contenido .vermas a {
    color: var(--bs-dark);
    font-weight: bold;
    text-align: right;
    margin-top: auto;
    display: flex;
    align-items: center;
}

.contenido .vermas a:hover {
    color: var(--bs-fred);
}


/* Media Queries */
@media screen and (max-width: 780px) {

    header {
        width: 100%;
    }

    .container-m {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 10px;
        width: 85%;
        margin: 30px auto;
    }

    .item {
        text-align: center;
    }

    .imagen-izquierda {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
        width: 100%;
    }

    .texto-derecha {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        font-size: 1.3rem;
        color: var(--bs-gray);
        line-height: 1.6;
        text-align: justify;
        margin-left: 1.5rem;
    }

    .titulo-derecha {
        margin-top: 20px;
    }

    .texto-izquierda {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        font-size: 1.3rem;
        color: var(--bs-gray);
        line-height: 1.6;
        text-align: justify;
        margin-left: 1.5rem;
    }

    .titulo-izquierda {
        margin-top: 20px;
    }

    .imagen-derecha {
        grid-column: 2 / 4;
        grid-row: 3 / 5;
        width: 100%;
    }

    .container-v1 {
        max-width: 90%;
    }

    .container-v2 {
        max-width: 90%;
    }

    .small-section {
        height: 15rem;
        width: 300px;
        margin-top: 1rem;
    }

    .small-section h3 {
        font-size: 2rem;
    }

    .grey-section {
        padding: 20px;
        margin-bottom: 5rem;
    }

    .grey-section .image-container img {
        width: 300px;
        margin: 0 100px 60px 0;
    }

}





@media screen and (max-width: 1100px) {

    .contenedor {
        background-image: linear-gradient(to bottom, rgba(252, 251, 251, 0.156), rgb(255, 0, 0)), url('../imagenes/bg.jpg');
        background-repeat: normal;
        background-size: cover;
        position: relative;
        height: 83.6vh;
        width: 200vh;
        position: relative;
        box-sizing: border-box;
    }

    .custom-shape-divider-bottom-1681240468 svg {
        height: 0px;
        overflow: hidden;
    }

    .titulo {
        margin: 15px;
        color: var(--bs-light);
        font-size: 3.5rem;
        text-align: left;
        text-transform: uppercase;
    }

    .titulo-contenedor {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 60px;
        box-sizing: border-box;
    }


    .ver-mas {
        padding: 5px 10px;
    }

    .image-container img {
        max-width: 100%;
        margin: 0 40px 90px 0;
        width: 300px;
        margin-bottom: 6rem;
        margin-right: 30rem;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: var(--bs-gray-dark);
        z-index: 1000;
    }

    .nav-list>li {
        line-height: 7rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: var(--bs-fred);
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover>.sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    li.move-right {
        margin: 0 auto 0 0;
        line-height: initial;
    }

    .icons {
        display: block;
    }

    .ion-md-close {
        display: none;
    }

    nav.active .ion-md-close {
        display: block;
    }

    nav.active .ion-md-close:hover {
        color: var(--bs-fred);
    }

    nav.active .ion-md-menu {
        display: none;
    }

    .ion-md-menu:hover {
        color: var(--bs-gray);
    }

    nav.active .nav-list {
        display: flex;
    }

    footer {
        line-height: 3rem;
    }

    footer a {
        margin-bottom: 2rem;
    }

    footer iframe {
        margin-left: 3.5rem;
    }

    .nav-list li:not(:last-child):hover {
        padding-bottom: 0;
    }

}

@media (min-width: 1300px) {
    .noticias {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
    }

    .noticias .noticia {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 768px) {
    .noticias{
        margin: 0 20px;
        display: block;
    }

    .noticias .noticia {
        width: 100%;
        margin-bottom: 30px;
        padding: 20px;
    }

    .noticia-imagen {
        height: 200px;
    }

    .noticia-titulo {
        font-size: 24px;
    }

    .noticia-descripcion {
        font-size: 18px;
    }

    .ver-mas {
        font-size: 16px;
    }
}